.name{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.name span{
    margin: 0 5px;
}
.name span:first-of-type{
    color: var(--pinkish);
}
.name span:last-of-type{
    color: var(--accent-color);
}

.content{
    margin: 15px 0;
    width: 80%;
    letter-spacing: .5px;
    text-align: left;
}

.content::first-letter{
    color: var(--pinkish);
    font-size: 1.5rem;
}