.Detail{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: var(--ultra-important);
    display: flex;
}

.Detail iframe{
    flex: 1;
}
.meta{
    width: 20vw;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    border-left: var(--highlight-color) 1px solid;
    align-items: center;
    overflow-y: auto;
    max-width: 350px;
}

.field{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid var(--highlight-color);
}
.field h2{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    color: var(--accent-color);
}
.field svg{
    width: 40px;
    margin-top: 3px;
    padding: 5px;
}
.field.link svg > *{
    fill: var(--accent-color);
}
.field.goBack h2{
    text-align: center;
    width: 100%;
    color:var(--pinkish);
    font-size: .8rem;
    transition: .25s;
}
.field.goBack{
    padding: 10px;
    border: solid 1px var(--pinkish);
    transition: .25s;
    cursor: pointer;
}
.field.goBack:hover{
    background-color: var(--pinkish);
}
.field.goBack:hover h2{
    color: var(--main-color);
}
.field.link{
    padding: 5px;
    color: var(--accent-color);
    font-size: .9rem;
    transition: .25s;
    cursor: pointer;
}
.field.link.disabled{
    background: var(--highlight-color);
    pointer-events: none;
    color: var(--darkGrey);
}
.field.link.disabled svg path{
    fill: var(--darkGrey);
}
.field.link a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.field.link:hover{
    background: var(--accent-color);
    color: var(--main-color);
}
.field.link:hover svg>*{
    fill: var(--main-color);
}

.imageContainer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.6);
}
.imageContainer img{
    height: 85%;
    object-fit: contain;
    max-width: 80%;
}