.Detail{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 10;
    display: flex;
}

.Detail iframe{
    flex: 1;
}
.meta{
    width: 20vw;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid var(--highlight-color);
}
.field h2{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    color: var(--accent-color);
}
.field svg{
    width: 40px;
    margin-top: 3px;
    padding: 5px;
}
.field.link svg > *{
    fill: var(--accent-color);
}

.field.link{
    align-items: center;
    padding: 5px;
    color: var(--accent-color);
    font-size: .9rem;
    justify-content: space-between;
    transition: .25s;
    cursor: pointer;
}
.field.link:hover{
    background: var(--accent-color);
    color: var(--main-color);
}
.field.link:hover svg>*{
    fill: var(--main-color);
}