.skill{
    width: 80%;
    border: solid 1px var(--highlight-color);
    border-radius: 5px;
    display: flex;
    height: 70px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.skill svg{
    width: 50px;
}