.Project{
    border: solid var(--highlight-color) 1px;
    border-radius: 2px;
}

.Project h2{
    padding: 5px;
    font-weight: normal;
    font-size: 1rem;
}
.Project img{
    width: 100%;
}
.imageContainer{
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.imageContainer img{
    object-fit: cover;
    height: 100%;
}
.info{
    position: absolute;
    width: 100%;
    background: var(--main-color);
    top: 0;
}
.stack, .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: solid 1px var(--highlight-color);
}
.Project h3{
    width: 100%;
    color: var(--highlight-color);
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .9rem;
    padding: 2px;
}
.field{
    width: 50%;
}
.field:first-of-type{
    border-right:solid 1px var(--highlight-color);
}

.Project svg{
    width: 40px;
    padding: 5px;
}