.Button{
    text-transform: uppercase;
    background: transparent;
    border: solid 1px var(--highlight-color);
    padding: 5px 7px;
    font-size: .6rem;
    margin-left: 10px;
    color: var(--darkGrey);
    position: relative;
    border-radius: 3px;
    cursor: pointer;
}

.buttonContainer{
    padding: 10px 0;
}

.Button:focus{
    border: solid 1px var(--highlight-color);
}