*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: white;
    --highlight-color: #ccc;
    --main-font: 'Open Sans', sans-serif;
    --accent-color: #669DB2;
}

body {
    margin: 0;
    font-family: var(--main-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


input,
button{
    font-family: inherit;
}

button:focus,
input:focus{
    border: none;
    outline: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.scale-up-enter-active{
    animation: scaleUp 1s ease-in forwards;
}
.scale-up-leave-active{
    animation: scaleUp 1s ease-in reverse;
}

@keyframes scaleUp{
    from{
        transform-origin: top;
        transform: scaleY(0);
    }
    to{
        transform-origin: top;
        transform: scaleY(1);
    }
}