*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: white;
    --highlight-color: #C8C8C8;
    --main-font: 'Open Sans', sans-serif;
    --accent-color: #669DB2;
    --pinkish: #EA5481;
    --darkGrey: darkgrey;
    --very-light-grey: #F9F9F9;
    --imporant: 100;
    --super-important: 1000;
    --mega-important: 10000;
    --ultra-important: 100000;
}

body {
    margin: 0;
    font-family: var(--main-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--very-light-grey);
    min-height: 100vh;
    overflow-y: overlay;
    overflow-x: hidden;
}


input,
button{
    font-family: inherit;
}

button:focus,
input:focus{
    border: none;
    outline: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.strokeWider > path{
    stroke-width: 15px!important;
}
button{
    width: 100%;
    background: transparent;
    border: none;
    border-top: solid 1px var(--highlight-color);
    padding: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--highlight-color);
    font-size: .6rem;
    cursor: pointer;
    transition: .25s;
}
button:hover{
    background: var(--accent-color);
    color: var(--main-color);
}
button:focus{
    border-top: inherit;
}
