*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: white;
    --highlight-color: #C8C8C8;
    --main-font: 'Open Sans', sans-serif;
    --accent-color: #669DB2;
    --pinkish: #EA5481;
}

body {
    margin: 0;
    font-family: var(--main-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


input,
button{
    font-family: inherit;
}

button:focus,
input:focus{
    border: none;
    outline: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.strokeWider > path{
    stroke-width: 15px!important;
}