.info{
    width: 100%;
    margin-top: 15px;
    font-size: .9rem;
    text-transform: uppercase;
    color: var(--darkGrey);
}
.info span{
    color: var(--accent-color);
    font-weight: bold;
}
.info span:first-of-type{
    margin-right: 15px;
}
.display_progressbar{
    margin: 10px 0;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    width: 85%;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    background: var(--very-light-grey);
    z-index: var(--mega-important);
}
.display_progressbar h3{
    font-weight: normal;
    text-transform: uppercase;
    font-size: .9rem;
    text-align: left;
}
.display{
    border: solid 1px var(--accent-color);
    color: var(--accent-color);
    padding: 2px 5px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9rem;
}

.display.active{
    color: var(--main-color);
    background: var(--accent-color);
}